.emoji-trigger {
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}
.emoji-trigger:hover {
    background: transparent;
    transform: scale(1.2);
}
.reactions{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    text-align: center;
    cursor: pointer;
}
.reactions span{
    font-size: 24px;
    margin: 3px 0;
}